/* Using the alternative box model */
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

#boxesContainer {
    width: 700px;
    height: 700px;
    margin: 40px auto;

    display: flex;
    flex-direction: column;
    gap: 1px;

    box-shadow: 0 0 15px 2px rgb(0, 0, 0, 0.4);
}

#boxesContainer .wide-box {
    flex: 1;
    display: flex;
    gap: 1px;
    background-color: white;
}

.tiny-box {
    flex: 1;
    border: 1px black solid;
}

.paint {
    background-color: black;
}